{{ define "header"}}
{{- partial "_shared/enablecharts.html" . -}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}

<div class="main-content">
    <!-- Begin Article
        ================================================== -->
    <div class="container">
        <div class="row">
            <!-- Post Share -->
            <div class="col-lg-2 pl-0">
                {{- partial "single-partials/share.html" . -}}
            </div>
            <!-- Post -->
            <div class="col-lg-9 flex-first flex-lg-unordered">

                <div class="mainheading">
                    <!-- Post Title -->
                    <h1 class="posttitle">{{ .Title }}</h1>
                    <!-- Author Box -->
                    <div class="post-top-meta">
                        <div>
                            {{if ne .Lastmod .PublishDate}}
                            <span class="post-date">Last updated on {{ dateFormat "Jan 2, 2006" .Lastmod }}
                                {{else}}
                                {{ if ne .Params.originalSource nil }}
                                <span class="post-date">Originally published on the <a
                                        href='{{.Params.originalUrl}}'>{{.Params.originalSource}}</a> on
                                    {{ dateFormat "Jan 2, 2006" .PublishDate }}
                                    {{else}}
                                    <span class="post-date">Published on {{ dateFormat "Jan 2, 2006" .PublishDate }}
                                        {{end}}
                                        {{end}}
                                        &nbsp;&middot;&nbsp; {{ .ReadingTime }} min read</span></span>
                        </div>
                    </div>
                </div>
                <!-- Post Featured Image -->
                {{with .Params.images}}
                {{ range first 1 . }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 offset-lg-1 flex-first flex-lg-unordered">
                <img class="featured-image img-fluid" src="{{ . | urlize }}" alt="thumbnail for this post">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 pl-0">
            </div>
            <div class="col-lg-9 flex-first flex-lg-unordered">
                {{end}}
                {{end}}
                <!-- End Featured Image -->

                <!-- Post Content -->
                <div class="article-post">
                    {{ .Content}}
                </div>

                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {{ range .Params.tags }}
                        <li>
                            {{ if eq . "Cold Starts" }}
                            <a href="{{ "/serverless/coldstarts/" | relLangURL | urlize }}">{{.}}</a>
                            {{ else }}
                            {{ $name := replace . "Sharp" "#" }}
                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{$name}}</a>
                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <!-- End Categories -->

            </div>
            <!-- End Post -->
        </div>
    </div>
    <!-- End Article
        ================================================== -->
    {{- partial "single-partials/comments.html" . -}}
</div>
{{ end }}

{{ define "footer"}}
{{- partial "_shared/footer.html" . -}}
{{ end }}