<div class="container">
    <div id="sharepane" class="row justify-content-center">
        <div class="col-md-2">

        </div>
        <div class="contact-intro col-md-2 text-center">
            <img class="profile-small d-inline-block mx-auto rounded-circle mb-3" height="100px"
                src="/images/author.jpg" alt="">
        </div>
        <div class="col-md-8">
            <section class="article-open_author">
                <div class="article-open_author_bio">
                    <h5 itemprop="author" itemscope="" itemtype="http://schema.org/Person">Author: Mikhail Shilkov</h5>
                    <p>
                        <div>Cloud developer and researcher.</div><div>Software engineer at Pulumi. Microsoft Azure MVP.</div>
                    </p>
                </div>
            </section>
            <a href="https://twitter.com/MikhailShilkov?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @MikhailShilkov</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
