{{ define "header"}}
{{- partial "_shared/enablecharts.html" . -}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}

<div class="main-content">
    <!-- Begin Article
        ================================================== -->
    <div class="container">
        <div class="row">
            <!-- Post Share -->
            <div class="col-lg-3 pl-0">
                <nav class="sidebar">
                    <div class="sidebar-header">
                        <h3>{{.Page.Parent.Title}}</h3>
                    </div>

                    <ul class="list-unstyled components">
                        <p>to deploy Azure Functions and co.</p>
                        <li>
                            <a href="..">Introduction</a>
                        </li>
                        {{ $current := .Page}}
                        {{ range .Page.Parent.Pages }}
                        <li>
                            {{ if eq . $current }}
                            <span class="current">{{.Weight}}. {{.Title}}</span>
                            {{ else }}
                            <a href="{{.Permalink}}">{{.Weight}}. {{.Title}}</a>
                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
            <!-- Post -->
            <div class="col-lg-8 offset-lg-1 flex-first flex-lg-unordered">

                <div class="mainheading">
                    <!-- Post Title -->
                    <h1 class="posttitle">{{ .Title }}</h1>
                    <!-- Author Box -->
                    <div class="post-top-meta">
                        <div>
                            <span class="post-date"> {{ .Params.subtitle }}</span>
                        </div>
                    </div>
                </div>

                <!-- Post Content -->
                <div class="article-post">
                    {{ .Content}}

                    {{ with .Params.material }}
                    <p>If you have any difficulties, compare your code with <a href="{{.}}" target="blank">this
                            sample</a>.</p>
                    {{ end }}

                    {{ if .Params.nextstep }}
                    {{ with .Page.GetPage .Params.nextstep }}
                    <h2>Next Step</h2>
                    <a href="{{.Permalink}}">
                        <button type="button" class="btn btn-primary btn-lg">
                            {{if .Params.navtitle}}
                            {{.Params.navtitle}}
                            {{else}}
                            {{.Title}}
                            {{end}}
                        </button>
                    </a>
                    {{ end }}
                    {{ end }}
                </div>

                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {{ range .Params.tags }}
                        <li>
                            {{ if eq . "Cold Starts" }}
                            <a href="{{ "/serverless/coldstarts/" | relLangURL | urlize }}">{{.}}</a>
                            {{ else }}
                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <!-- End Categories -->

            </div>
            <!-- End Post -->
        </div>
    </div>
    <!-- End Article
        ================================================== -->
    {{ if .Params.ghissueid }}
    {{- partial "single-partials/comments.html" . -}}
    {{ end }}
</div>
{{ end }}

{{ define "footer"}}
{{- partial "_shared/footer.html" . -}}
{{ end }}