{{ define "header"}}
{{- partial "_shared/enablecharts.html" . -}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}

<div class="main-content">
    <!-- Begin Article
        ================================================== -->
    <div class="container">
        <div class="row">
            <!-- Post Share -->
            <div class="col-lg-3 pl-0">
                <nav class="sidebar">
                    <div class="sidebar-header">
                        <h3>{{.Page.Parent.Title}}</h3>
                    </div>

                    <ul class="list-unstyled components">
                        <p>to deploy Azure Functions and co.</p>
                        {{ $current := .Page}}
                        {{ range .Page.Parent.Pages }}
                        <li>
                            {{ if eq . $current }}
                            <span class="current">{{.Weight}}. {{.Title}}</span>
                            {{ else }}
                            <a href="{{.Permalink}}">{{.Weight}}. {{.Title}}</a>
                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
            <!-- Post -->
            <div class="col-lg-8 offset-lg-1 flex-first flex-lg-unordered">

                <div class="mainheading">
                    <!-- Post Title -->
                    <h1 class="posttitle">{{ .Title }}</h1>
                    <!-- Author Box -->
                    <div class="post-top-meta">
                        <div>
                            <span class="post-date"> {{ .Params.subtitle }}</span>
                        </div>
                    </div>
                </div>
                <!-- Post Featured Image -->
                {{with .Params.images}}
                {{ range first 1 . }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 offset-lg-1 flex-first flex-lg-unordered">
                <img class="featured-image img-fluid" src="{{ . | urlize }}" alt="thumbnail for this post">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 pl-0">
            </div>
            <div class="col-lg-9 flex-first flex-lg-unordered">
                {{end}}
                {{end}}
                <!-- End Featured Image -->

                <!-- Post Content -->
                <div class="article-post">
                    {{ .Content}}
                </div>

                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {{ range .Params.tags }}
                        <li>
                            {{ if eq . "Cold Starts" }}
                            <a href="{{ "/serverless/coldstarts/" | relLangURL | urlize }}">{{.}}</a>
                            {{ else }}
                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <!-- End Categories -->

            </div>
            <!-- End Post -->
        </div>
    </div>
    <!-- End Article
        ================================================== -->
    {{ if .Params.ghissueid }}
    {{- partial "single-partials/comments.html" . -}}
    {{ end }}
</div>
{{ end }}

{{ define "footer"}}
{{- partial "_shared/footer.html" . -}}
{{ end }}