{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content">
    <section class="recent-posts">
        <div class="row listrecent">
            <div class="col-lg-8 col-sm-12 mb-30px card-group">
                {{ $page := $.GetPage "/2020/11/how-to-deploy-temporal-to-azure-kubernetes-aks" }}
                {{- partial "list-partials/featured.html" $page -}}
            </div>
            {{- partial "list-partials/ad.html" $page -}}            
            {{ $page := $.GetPage "/2020/10/how-to-deploy-temporal-to-azure-container-instances" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/10/practical-approach-to-temporal-architecture" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/10/temporal-open-source-workflows-as-code" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/09/announcing-nextgen-azure-provider" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/09/how-to-drain-dotnet-tasks-to-completion" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/07/emerging-landscape-of-edge-computing" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/07/best-interview-is-no-interview-get-jobs-without-applying" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/06/eliminate-cold-starts-by-predicting-invocations-of-serverless-functions" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/05/serverless-in-the-wild-azure-functions-usage-stats" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/05/unit-testing-cloud-deployments-with-pulumi-in-csharp" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/serverless/coldstarts" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/03/infinicache-distributed-cache-on-aws-lambda" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/02/azure-functions-in-google-cloud-run" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2020/02/serverless-containers-with-google-cloud-run" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/12/aws-lambda-provisioned-concurrency-no-cold-starts" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/12/santa-brings-cloud-to-every-developer" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/11/choosing-the-best-deployment-tool-for-serverless-applications" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/10/aws-lambda-vs-azure-functions-ten-major-differences" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/10/how-to-deploy-a-function-app-with-keda" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/09/how-to-build-globally-distributed-applications-with-azure-cosmos-db-and-pulumi" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/08/how-to-avoid-cost-pitfalls-by-monitoring-apis-in-aws-lambda" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/08/ten-pearls-with-azure-functions-in-pulumi" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/08/how-to-measure-the-cost-of-azure-functions" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/07/7-ways-to-deal-with-application-secrets-in-azure" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/07/load-testing-azure-functions-with-loaderio" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/07/how-azure-cli-manages-access-tokens" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/07/globally-distributed-serverless-application-in-100-lines-of-code" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/03/concurrency-and-isolation-in-serverless-functions" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/03/reducing-azure-functions-cold-start-time" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/03/visualizing-cold-starts" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/02/from-yaml-to-typescript-developers-view-on-cloud-automation" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2019/serverless-at-scale-serving-stackoverflow-like-traffic" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2018/12/fairy-tale-of-fsharp-and-durable-functions" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2018/12/making-sense-of-azure-durable-functions" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2018/11/from-0-to-1000-instances-how-serverless-providers-scale-queue-processing" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2018/08/aws-lambda-warmer-as-pulumi-component" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2018/07/monads-explained-in-csharp-again" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2018/05/azure-functions-cold-starts-beyond-first-load" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2018/02/load-testing-azure-sql-database-by-copying-traffic-from-production-sql-server" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2018/01/tictactoe-with-fsharp-azurefunctions-hateoas-and-property-based-testing" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/12/azure-functions-get-more-scalable-and-elastic" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/12/precompiled-azure-functions-in-fsharp" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/07/authoring-custom-binding-azure-functions" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/07/custom-autoscaling-with-durable-functions" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/07/custom-auto-scaling-in-azure" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/07/sending-large-batches-to-azure-service-bus" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/06/finding-lost-events-in-azure-application-insights" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/05/reliable-consumer-of-azure-event-hubs" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/03/visualizing-dependency-tree-from-di-container" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/03/azure-functions-as-facade-for-azure-monitoring" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/02/coding-puzzle-in-fsharp-find-the-number-of-islands" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/01/event-sourcing-optimizing-neventstore-sql-read-performance" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2017/01/my-praise-of-advent-of-code-2016" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2016/11/introducing-stream-processing-in-fsharp" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2016/11/event-sourcing-and-io-complexity" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2016/10/azure-sql-databases-backups-disaster-recovery-import-export" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2016/08/comparing-scala-to-fsharp" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2016/07/building-a-poker-bot-functional-fold-as-decision-tree-pattern" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2016/05/dependency-inversion-implies-interfaces-are-owned-by-high-level-modules" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2016/04/building-a-poker-bot-with-akka-net-actors" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2016/03/functional-actor-patterns-with-akkadotnet-and-fsharp" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2016/03/building-a-poker-bot-mouse-movements" }}
            {{- partial "list-partials/postbox.html" $page -}}
            {{ $page := $.GetPage "/2015/02/how-we-do-message-processing" }}
            {{- partial "list-partials/postbox.html" $page -}}
        </div>
        <hr>
        <div class="row listrecent">
            <div class="col-lg-8 col-sm-12 mb-30px card-group">
                <h4 class="card-text">See more posts in <span>&nbsp;<a href="archives">Archives</a></h4></span>
            </div>
        </div>
    </section>
</div>
{{ end }}

{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}
{{end}}