{{ $id := .Get 0 }}

{{ $parts := split (.Get 0) "/" }}
{{ if eq (len $parts) 1 }}
  {{ .Scratch.Set "dataParam" (index .Site.Data $id) }}
{{ else }}
  {{ .Scratch.Set "dataParam" (index .Site.Data (index $parts 0) (index $parts 1)) }}
{{ end }}
{{ $data := .Scratch.Get "dataParam" }}

{{ $caption := .Get 1 }}
{{ $xTitle := .Get 2 | default "Time since the previous invocation (minutes)" }}
{{ $yTitle := .Get 3 | default "probability" }}

<script type="text/javascript">
addChart((data, options) => {
  data.addColumn('string', 'Time');

  const points = {{ $data.points }};
  const seriesCount = points.length;
  for (var j = 0; j < seriesCount; j++) {
    data.addColumn('number', points[j].name);
  }

  const rows = [];
  for (var i = 0; i < points[0].items.length; i++)
  {
    const item = [points[0].items[i][0]];
    for (var j = 0; j < seriesCount; j++) {
      item.push(points[j].items[i][1]);
    }
    rows.push(item);
  }

  data.addRows(rows);
  console.debug(rows);
  options.lineWidth = 3;
  options.hAxis = {
    title: '{{ $xTitle }}'
  };
  options.vAxis = {
    title: '{{ $yTitle }}',
    maxValue: 1.0
  };
  options.legend = { position: 'top' };
  options.series = {{ $data.colors }};
  return new google.visualization.AreaChart(document.getElementById('chart_div_{{ $id }}'));
});
</script>
<figure>
  <div id="chart_div_{{ $id }}"></div>
  <figcaption class="imageCaption"><h4>{{ $caption }}</h4></figcaption>
</figure>