{{ $id := .Get 0 }}
{{ $parts := split (.Get 0) "/" }}

{{ if eq (len $parts) 1 }}
  {{ .Scratch.Set "dataParam" (index .Site.Data $id) }}
{{ else }}
  {{ .Scratch.Set "dataParam" (index .Site.Data (index $parts 0) (index $parts 1)) }}
{{ end }}
{{ $data := .Scratch.Get "dataParam" }}

{{ $caption := .Get 1 }}

<script type="text/javascript">
addChart((data, options) => {
  data.addColumn('number', 'ID');
  data.addColumn('number', 'Value');
  data.addColumn({ 'type': 'string', 'role': 'style' });
  data.addRows({{ $data.points }});
  options.hAxis = {
    title: 'minutes'
  };
  options.vAxis = {
    title: 'seconds'
  };
  return new google.visualization.ScatterChart(document.getElementById('chart_div_{{ $id }}'));
});
</script>
<figure>
  <div id="chart_div_{{ $id }}"></div>
  <figcaption class="imageCaption"><h4>{{ $caption }}</h4></figcaption>
</figure>