<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{ with .Site.Params.favicon }}
	<link rel="icon" type="image/png" href="{{ . | urlize | relURL }}">
	{{ end }}
	{{ if eq .Page.Title .Site.Title }}
	<title>{{ .Site.Title }}</title>
	{{ else }}
	<title>{{ .Page.Title }} | {{ .Site.Title }}</title>
	{{ end }}
	{{ with .Site.Params.meta.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.meta.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
        <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
	{{ $style := resources.Get "sass/main.scss" | toCSS }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">

	{{ with .Params.originalUrl }}
	<link rel="canonical" href="{{.}}">
	{{ end }}
	
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
	<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
	<meta property="og:url" content="{{ .Permalink }}" />

	{{ $pageurl := .Permalink }}
	{{ with .Params.images }}{{ range first 6 . }}
	{{ $imageurl := printf "%s%s" $pageurl . }}
	<meta property="og:image" content="{{ $imageurl | absURL }}" />
	{{ end }}
	{{ else }}
	{{ with .Params.thumbnail }}
	{{ $imageurl := printf "%s%s" $pageurl . }}
	<meta property="og:image" content="{{ $imageurl | absURL }}" />
	{{ end }}
	{{ end }}


	{{ if .IsPage }}
	{{ with .Params.tags }}{{ range first 6 . }}
	<meta property="article:tag" content="{{ . }}" />
	{{ end }}{{ end }}{{ end }}

	{{ with $.Params.images }}
	<meta name="twitter:card" content="summary_large_image"/>
	{{ $imageurl := printf "%s%s" $pageurl (index . 0) }}
	<meta name="twitter:image" content="{{ $imageurl | absURL }}"/>
	{{ else }}
	{{ with .Params.thumbnail }}
	<meta name="twitter:card" content="summary_large_image"/>
	{{ $imageurl := printf "%s%s" $pageurl . }}
	<meta name="twitter:image" content="{{ $imageurl | absURL }}" />
	{{ else }}
	<meta name="twitter:card" content="summary"/>
	{{ end }}
	{{ end }}

	<meta name="twitter:title" content="{{ .Title }}"/>
	<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
	<meta name="twitter:creator" content="@MikhailShilkov"></meta>
</head>
