<!-- begin post -->
<div class="col-lg-8 col-md-6 mb-30px card-group">
    <div class="card border-0">
        <div class="row">
            <div class="col-lg-3 order-lg-2 align-middle">
                <a href="{{ .URL }}" class="align-middle">
                    {{with .Params.thumbnail}}
                        <img class="img-fluid align-middle" src="{{ . | urlize | relURL }}" alt="A thumbnail image">
                    {{end}}                
                </a>
            </div>
            <div class="col-lg-9 order-lg-1 pl-0 pr-0">
                    <div class="card-body">
                        <h2 class="card-title"><a class="text-dark" href="{{ .URL }}">{{ .Title }}</a></h2>
                        <h4 class="card-text">{{ default .Summary .Params.description }}</h4>            
                    </div>
                </div>
            </div>
    </div>        
</div>
<!-- end post -->
