<div class="maxthumb">
    <a href="{{ .URL }}">
        {{ $url := printf "%s%s" .URL .Params.thumbnail}}
        {{with $url}}
            <img class="img-fluid" src="{{ . | urlize | relURL }}" alt="A thumbnail image">
        {{end}}                
    </a>
</div>
<div class="card-body pl-0 pr-0">
    <h2 class="card-title"><a class="text-dark" href="{{ .URL }}">{{ .Title }}</a></h2>
    <h4 class="card-text">{{ .Params.description }}</h4>            
    <span class="post-read-more"><a href="{{ .URL }}" title="Read Story">Read more...</a></span>
</div>